services:
    app:
        command: ["npm", "run", "dev"]
        #command: ["npm", "run", "dev-tls"] # If you want to use a TLS certificate.
        ports:
            - "3000:3000"

    prod:
        command: ["node", ".output/server/index.mjs"]
        ports:
            - "3000:3000"
